<header class="w-full h-14 px-5 flex items-center bg-slate-300">
  <div class="font-bold text-xl">
    <a routerLink="/">
      <h1>Graphic Tablet App</h1>
    </a>
  </div>

  <nav class="ml-auto text-lg">
    <ul class="flex gap-1">
      <li>
        <a routerLink="/" class="block px-4 py-1 hover:bg-white rounded-xl">
          <h2>Inicio</h2>
        </a>
      </li>
      <li>
        <a routerLink="/" class="block px-4 py-1 hover:bg-white rounded-xl">
          <h2>Tabletas</h2>
        </a>
      </li>
      <li>
        <a routerLink="/" class="block px-4 py-1 hover:bg-white rounded-xl">
          <h2>Monitores</h2>
        </a>
      </li>
      <li>
        <a routerLink="/" class="block px-4 py-1 hover:bg-white rounded-xl">
          <h2>Perfil</h2>
        </a>
      </li>
    </ul>
  </nav>
</header>
