<main class="w-96 mx-auto mt-2 mb-10 p-5 bg-slate-200 rounded-lg">
  <h3>Crear Cuenta</h3>

  <form (ngSubmit)="submitForm();" [formGroup]="registerUser" method="post">
    <input type="text" formControlName="first_name" class="my-1 px-3 py-1 w-full rounded-lg" placeholder="Nombre">
    <span *ngIf="registerUser.get('first_name')?.hasError('required') && registerUser.get('first_name')?.touched">El nombre es requerido</span>

    <input type="text" formControlName="last_name" class="my-1 px-3 py-1 w-full rounded-lg" placeholder="Apellido">
    <span *ngIf="registerUser.get('last_name')?.hasError('required') && registerUser.get('last_name')?.touched">El apellido es requerido</span>
    
    <input type="text" formControlName="email" class="my-1 px-3 py-1 w-full rounded-lg" placeholder="Email">
    <span *ngIf="registerUser.get('email')?.hasError('required') && registerUser.get('email')?.touched">El email es requerido</span>
    <span *ngIf="registerUser.get('email')?.hasError('email') && registerUser.get('email')?.touched">El email no tiene el formato correcto</span>
    
    <input type="password" formControlName="password" class="my-1 px-3 py-1 w-full rounded-lg" placeholder="Contraseña">
    <span *ngIf="registerUser.get('password')?.hasError('required') && registerUser.get('password')?.touched">La contraseña es requerida</span>
    <span *ngIf="registerUser.get('password')?.hasError('pattern') && registerUser.get('password')?.touched">La contraseña debe tener un mínimo de 8 caracteres y un máximo de 16 caracteres</span>
    
    
    <input type="password" formControlName="confirm_password" class="my-1 px-3 py-1 w-full rounded-lg" placeholder="Confirmar Contraseña">
    <span *ngIf="registerUser.get('confirm_password')?.hasError('required') && registerUser.get('confirm_password')?.touched">La confirmación de la contraseña es requerida</span>
    <span *ngIf="registerUser.get('password')?.value != registerUser.get('confirm_password')?.value && registerUser.get('confirm_password')?.touched">Las contraseñas son distintas</span>

    <br><br>
    <span *ngIf="errorMessage != ''" class="text-red-400">{{errorMessage}}</span>
    <br>

    <button type="submit" class="bg-green-300 p-2 rounded ml-auto">Registrarse</button>
  </form>
</main>